/* Empty. Add your own CSS if you like */
.item.item-icon-left.assertive {
    background: #01a0e2;
    color: white;
    font-weight: bolder;
}

/** logo login **/
.login-logo {

  margin-top: 15%;
  text-align: center;
  font-size: 28px;
  font-weight: 300;

  background: url("../img/logo.png") no-repeat center center;
    -webkit-background-size: 240px;
    -moz-background-size: 240px;
    -o-background-size: 240px;
    background-size: 240px;
    height: 148px;
}

.login-tab {
    margin-top: 25px;
}

/** input login **/
.ng-dirty.ng-invalid {
    color: white !important;
}
.ng-dirty.ng-invalid-email {
    color: white !important;
}

/**listado municipios **/
ion-view.municipios.pane {
    background-image: url('../img/blur.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

ion-view.municipios.pane .item {
    border-color: rgba(91, 189, 95, 0.48);
    background-color: rgba(255, 255, 255, 0.25);
    color: #fff;
}

ion-view.municipios.pane .item h2 {
    color: #2c2c2c;
}

ion-view.municipios.pane img.icono {
    width: 100px;
}