<ion-view view-title="Login" class="login-bg">
    <ion-content>
        <div class="login-logo light">
            Ojo<span class="bold positive">Ciudadano</span>
        </div>
        <div class="login-tab">
            <div class="login">
                <div class="padding-horizontal">
                    <h4 class="light text-center">Cambiar Contraseña</h4>
                </div>
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Contraseña</span>
                        <i class="icon ln-lock"></i>
                        <input type="password" placeholder="Contraseña" ng-model="password.oldpassword">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Nueva Contraseña</span>
                        <i class="icon ln-lock"></i>
                        <input type="password" placeholder="Nueva Contraseña" ng-model="password.newpassword">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Confirmar Contraseña</span>
                        <i class="icon ln-lock"></i>
                        <input type="password" placeholder="Confirmar Contraseña" ng-model="password.confirmpassword">
                    </label>
                </div>
                <div class="login-btn footer">
                    <button class="button button-block button-positive" ng-click="changepassword(password);">
                        Cambiar
                    </button>
                    <div class="sign text-center">
                        <span>No tengo una cuenta?<a href="#/access/login">Registrarme</a></span>
                    </div>
                </div>
            </div>
    </ion-content>
</ion-view>
