<ion-view view-title="Mi Cuenta">
    <ion-content>
        <div class="side-image">
            <figure>
                <a href="#/app/profile" menu-close>
                    <img ng-src="{{userdetails.userimage | serverimage}}" ng-if="userdetails.userimage">
                    <img src="img/user.png" ng-if="!userdetails.userimage">
                </a>
                <figcaption></figcaption>
            </figure>
            <div class="profile-set">
                <a href="#/app/setting" menu-close> <i class="icon ln-gear2 "></i>
                </a>
            </div>
        </div>
        <div class="user-from">
            <h4>Mi cuenta</h4>
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Nombre Completo</span>
                    <i class="icon ln-user"><input type="text" placeholder="Nombre Completo" ng-model="profile.name"></i>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <i class="icon ln-envelope"><input type="email" placeholder="Email" ng-model="profile.email"></i>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Contraseña</span>
                    <i class="icon ln-lock"><input type="password" placeholder="Contraseña" ng-model="profile.password"></i>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Fecha de Cumpleaños</span>
                    <i class="icon ln-gift"><input type="text" onfocus="(this.type='date')" placeholder="Fecha de Cumpleaños" ng-model="profile.dob"></i>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Telefono</span>
                    <i class="icon ln-lock"><input type="number" placeholder="Numero de Telefono" ng-model="profile.contact"></i>
                </label>
            </div>
            <button class="button button-block button-positive" ng-click="profilesubmit(profile);">
                Guardar Cambios
            </button>
        </div>
    </ion-content>
</ion-view>
