<ion-view view-title="Contactanos">
    <ion-content>
        <div class="button-bar">
            <a class="button button-positive button-outline" ng-class="{'underline':tab=='contactus'}" ng-click="tabchange('contactus',1)">Contactanos</a>
            <a class="button button-positive button-outline" ng-class="{'underline':tab=='contactform'}" ng-click="tabchange('contactform',2)"></a>
        </div>
        <div class="contactus" ng-show="tab=='contactus'">
            <div class="address">
                <div class="card">
                    <div class="list item-text-wrap">
                        <div class="item item-icon-left">
                            <i class="icon ln-home3"></i> {{contact.content}}
                        </div>
                        <a ng-href="tel:{{contact.text}}" class="item item-icon-left">
                            <i class="icon ln-phone2"></i> {{contact.text}}
                        </a>
                        <a ng-href="mailto:{{contact.type}}" class="item item-icon-left">
                            <i class="icon ln-envelope"></i> {{contact.type}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="map" ng-bind-html="contact.description|rawHtml">
            </div>
        </div>
        </div>
        <div class="contactform" ng-show="tab=='contactform'">

        </div>
    </ion-content>
</ion-view>
